/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
.idea
/.docker/dbdata/*
/.yarn_cache/
.DS_Store
Thumbs.db
/phpunit.xml
/.idea
/.vscode
/aliases
/mysqldump.sql.gz
/mysql_backup
/postgres_backup
/user-customizations.sh
.php_cs.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php'
public/js/admin.js.LICENSE.txt
public/js/app.js.LICENSE.txt
.yarn/*
.yarnrc.yml
/public/css/*.gz
/public/js/*.gz
/public/fileadmin/news/cache/*
/public/fileadmin/fotos/2005/feuer_-_hinrich_von_postel/cache/*
/public/fileadmin/fotos/2006/feuer_in_ramhusen/cache/*
/public/fileadmin/fotos/2010/st._michel-woche_orientierungsfahrt/cache/*
/public/fileadmin/fotos/2011/dienstabend/cache/*
/public/fileadmin/fotos/2011/funkuebung/cache/*
/public/fileadmin/fotos/2011/grossbrand_in_roesthusen/cache/*
/public/fileadmin/fotos/2011/offene_feuerwehruebung/cache/*
/public/fileadmin/fotos/2011/offene_feuerwehruebung0/cache/*
/public/fileadmin/fotos/2011/tanklastwagen_im_graben/cache/*
/public/fileadmin/fotos/2011/verkehrsunfall_roesthusen/cache/*
/public/fileadmin/fotos/2012/grossbrand_roesthusen/cache/*
.php-cs-fixer.cache
.yarnrc
.phpcs-cache
.report/
report/
.scannerwork/
composer.phar
.history/
